@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.experiencies {
    width: 100%;
    position: relative;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
}

.title {
    position: absolute;
    color: #787877;
    top: 7%;
    z-index: 1;
    font-weight: 300;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.text {
    font-weight: 300;
    font-size: 1.2rem;
    color: #787877;
    /* width: 29.188rem; */
    height: 1.2rem;
    text-align: center;
}

.h1 {
    width: 25rem;
    height: 8.813rem;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.4rem;
    text-align: center;
    letter-spacing: 0.07em;
    color: #585757;
    margin-top: 1rem;
}

.experiencesImg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
}

.img {
    position: relative;
}

.experienceImg {
    width: 100%;
}

.hoverDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: center;
    background-color: #333333;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
}

.hoverDiv:hover {
    opacity: .7;
    transition: opacity .5s linear;
}

.hoverDiv h3, .hoverDiv span, .hoverDiv p {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 400;
}

.hoverDiv p {
    font-size: .8rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.experiencesBtn {
    grid-area: 2 / 3 / 3 / 4;
    background-image: url('https://res.cloudinary.com/pflet/image/upload/v1662686118/Let/image/fondos/slice1_aa7zkf.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    animation: changeImage 25s infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 1.5rem;
    width: fit-content;
    background-color: #333333;
    opacity: .8;
    border-radius: .8rem;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 400;
}

.btn:hover {
    background-color: #F9B621;
    transition: background-color .5s linear;
}


@keyframes changeImage {
    20% {
        background-image: url('https://res.cloudinary.com/pflet/image/upload/v1662686247/Let/image/fondos/slice2_pw2u18.png');
    }

    40% {
        background-image: url('https://res.cloudinary.com/pflet/image/upload/v1662686133/Let/image/fondos/slice3_boy63a.png');
    }

    60% {
        background-image: url('https://res.cloudinary.com/pflet/image/upload/v1662730834/Let/image/fondos/slice4_ln7tvb.png');
    }

    80% {
        background-image: url('https://res.cloudinary.com/pflet/image/upload/v1662686243/Let/image/fondos/slice5_pavr5j.png');
    }

    100% {
        background-image: url('https://res.cloudinary.com/pflet/image/upload/v1662686118/Let/image/fondos/slice1_aa7zkf.png');
    }
}

@media (max-width:650px) {
    .text {
        width: 30rem;
    }

    .h1 {
        width: 20rem;
        font-size: 2.3rem;
        margin-top: 2rem;
    }
}

@media (max-width:500px) {
    .text {
        width: 20rem;
        font-size: 1rem;
    }

    .h1 {
        width: 14rem;
        height: 7rem;
        font-size: 1.8rem;
        margin-top: 2rem;
        line-height: 3rem;
    }
}