@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.experiencies {
    width: 100%;
    position: relative;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
}

.title {
    position: absolute;
    color: #787877;
    top: 7%;
    z-index: 1;
    font-weight: 300;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.text {
    font-weight: 300;
    font-size: 1.2rem;
    color: #787877;
    /* width: 29.188rem; */
    height: 1.2rem;
    text-align: center;
}

.h1 {
    width: 36.75rem;
    height: 8.813rem;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.4rem;
    text-align: center;
    letter-spacing: 0.07em;
    color: #585757;
    margin-top: 1rem;
}

.imgExperiencies {
    width: 100%;
}

@media (max-width:650px) {
    .text{
        width: 30rem;
    }
    .h1{
        width: 20rem;
        font-size: 2.3rem;
        margin-top: 2rem;
    }
}

@media (max-width:500px) {
    .text{
        width: 20rem;
        font-size: 1rem;
    }
    .h1{
        width: 14rem;
        height: 7rem;
        font-size: 1.8rem;
        margin-top: 2rem;
        line-height: 3rem;
    }
}