.spinner{
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-position-x: center;
    background-image: url('../../image/fondo_huellas.png');
}
.seMueve{
    width: 100%;
    animation: mueve 6s linear infinite
}
.gira{
    width: 15rem;
    animation: gira 2.5s linear infinite
}

@keyframes gira {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes mueve {
    0%{
        transform: translateX(-25%);
    }
    100%{
        transform: translateX(110%);
    }
}