.spinner{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.gira{
    width: 100%;
    animation: gira 5s linear infinite
}
.mueve{
    width: 15rem;
    animation: mueve 2.5s linear infinite
}

@keyframes mueve {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes gira {
    0%{
        transform: translateX(-20%);
    }
    100%{
        transform: translateX(100%);
    }
}