@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.home {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    background-size: 100%;
    background-image: url(../../image//img_landing.png);
}

.location {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 460px;
    
    top: 11px;
    bottom: 1041px;
    left: 15px;
}

.title {
    margin-left: 10px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;

    color: #BEB9B9;
}