@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.containerHome {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display:block;
    /* background-color: #FFF9EC; */
    background-color: #F5F5F5;
}

.encabezado {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f1efef;
    margin-left: auto;
    margin-right: auto;
}

.divSticky{
    width: 100vw;
    height: 5rem;
    margin-left: -1rem;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 6rem;
    z-index: 2;
    background-color: #F5F5F5;
    box-shadow: rgba(0, 0, 0, 0.776) 0px 0px 10px;
}

.containFiltersSelected{
    display: flex;
    flex-direction: row;
}

.divDateAndOrder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    gap: 1rem;
}

.filterwrapp {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.containerFilter{
    width: 22rem;
    height: 76rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #d3d2ce;
    box-shadow: rgba(0, 0, 0, 0.776) 0px 0px 10px;
}

.divPaginationAndBikes{
    display: flex;
    flex-direction: column;
    width: calc(100% - 20rem);
    margin-left: auto;
    margin-right: auto;
}

.containerCards {
    width: 80%;
    height: 61rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    overflow-y: scroll;
}
.containerCards::-webkit-scrollbar{
    display: none;
}

/* Boton cuando se hace responsive */

.burguerButton{
    display:none;
}
.burguerForm{
    width: 2.5rem;
    height: 0.5rem;
    background-color: #F9B621;
    border-radius: 0.3rem;
    transform: translateY(1.5rem) translateX(0.1rem);    
    transform-origin: top left;
    transition: transform .5s ease, background-color 0.5s ease;
}
.burguerForm::before,
.burguerForm::after{
    content: '';
    display: block;
    width: 100%;
    height: 0.5rem;
    background-color: #F9B621;
    border-radius: 0.3rem;
    transition: transform .5s ease; 
}
.burguerForm::before{
    transform: translateY(-0.9rem);
}
.burguerForm::after{
    transform: translateY(0.3rem);
}
.show + .burguerButton .burguerForm::before{
    transform: rotate(45deg) translateX(-1px);
}
.show + .burguerButton .burguerForm::after{
    transform: rotate(-45deg) translate(0.4rem, -7px);
}
.show + .burguerButton .burguerForm{
    background-color: transparent;
}

/* fondo gris al tocar el boton */

.nothing{
    display: none;
}


@media (max-width:1430px) {
    .containerCards{
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }
    .divDateAndOrder{
        max-width: calc(100vw - 35rem);
    }
    .divDateAndOrder > div{
        width: 20rem;
    }
}


@media (max-width:1060px) {
    .responsiveFilter{
        position: fixed;
        top: 6rem;
        left: 0;
        z-index: 100;
        transition: transform 1s;
    }
    .show{
        transform: translateX(0)
    }
    .hidden{
        transform: translateX(-100%);
    }
    .backgroundGray{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #d3d2cead;
        z-index: 100;
    }
    .containerFilter{
        width: 19rem;
    }
    .divPaginationAndBikes{
        width: 45rem;
    }
    .burguerButton{
        display: flex;
        position: fixed;
        right: 1rem;
        top: 7rem;
        z-index: 101;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        background-color: #333333;
        border: none;
        transition: top 1s;
    }
    .divSticky{
        height: 7rem;
        margin-left: -0.8rem;
        position: fixed;
        top: 0;
        transition: transform 1s;
    }
    .divDateAndOrder{
        max-width: 85%;
        flex-direction: column;
    }
    .containFiltersSelected{
        display: none;
    }
    .up{
        transform: translate(19rem, -7rem);
    }
    .down{
        transform: translate(19rem, 0);
        width: calc(100vw - 19rem);
    }
}

@media (max-width:700px) {
    .containerCards{
        grid-template-columns: repeat(1, 1fr);
    }
    .divDateAndOrder > div{
        width: 15rem;
    }
}

@media (max-width:650px) {
    .show + .burguerButton{
        top: 17rem;
    }
    .hidden + .burguerButton{
        top: 10rem;
    }
    .responsiveFilter{
        top: 9.5rem;
    }
    .divDateAndOrder{
        max-width: 100%;
    }
}

@media (max-width:600px) {
    .divSticky{
        height: 12rem;
    }
    .show + .burguerButton{
        top: 22rem;
    }
    .appear > div{
        position: absolute;
        top: 5rem;
        left: -18rem;
    }
    .up{
        top: -5rem;
    }
}

@media (max-width:450px) {
    .divSticky{
        height: 14rem;
    }
    .show + .burguerButton{
        top: 24rem;
    }
    .up{
        top: -7rem;
    }
}

@media (max-width:350px) {
    .containerCards{
        grid-template-columns: repeat(1, 1fr);
    }
}