/* 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    background-image: url("https://res.cloudinary.com/pflet/image/upload/v1662686161/Let/image/fondo_huellas_u2a4wr.png");
} */

.formAlr {
    display: flex;
    flex-direction: column;
    /* width: 40%; */
    margin: auto;
    background-color: #33333398;
    margin-top: 1rem;
    text-align: center;
    border-radius: 2rem;
    height: 15rem;
    padding: 1rem;
}

.spanAlr {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding-top: .5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.btn {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
    height: 4vh;
    width: 8vw;
    border: none;
    background: #F9B621;
    cursor: pointer;
    border-radius: .2rem;
    margin-bottom: 2rem;

}

.btn:hover {
    color: #d89c1c;
    background: #FFFFFF;
}

.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #333333;
    margin-top: 1rem;
    text-align: center;
    border-radius: 2rem;
    height: 30rem;
    padding-left: 9rem;
    padding-right: 9rem;
}

.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin-top: 2rem;
}

.inputs {
    background-color: #ffffff;
    border-radius: .7rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #333333;
}

.textArea {
    background-color: #FFFFFF;
    border-radius: .7rem;
    width: 19rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.containerBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9B621;
    width: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.inputs input {
    margin-left: 0.7rem;
    border: none;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 0.9rem;
    width: 18rem;
    color: #333333;
}

.inputs input[type=number]::-webkit-inner-spin-button, 
.inputs input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.inputs input[type=number] { -moz-appearance:textfield; }

.containerBtn input {
    border: none;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    color: #FFFFFF;
    cursor: pointer;
    
}

.errSpan {
    color: #F9B621;
    font-size: 1rem;
    padding-top: .1rem;
}

.span {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding-top: .5rem;
}

.textAr {
    text-decoration: none;
    border: none;
    overflow-y: scroll;
    resize: none;
    height: 9rem;
    width: 100%;
    border-radius: .9rem;
    outline: none;
    margin-top: 1rem;
    margin-left: 1rem;
}

.inputSend {
    background-color: transparent;
}