.container {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: auto;
    align-items: center;
    background-color: #333333;
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    border-radius: 2rem;
}
.name {
    color: white;
}

.card {
    display: flex;
    flex-direction: column;
}

.span {
    color: white; 
}