
/* /////////////////////////////////////////////////////// */
/* USUARIO */

.containerUs {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 10rem .5rem 2rem ;
    border-bottom: 1px solid rgb(180, 179, 179);
}

.img {
    width: 4rem;
    height: 4rem;
    background-color: rgb(238, 238, 238);
    padding: .5rem;
    border-radius: 3rem;
    transition: box-shadow 0.5s linear ;
}
.img:hover{
    box-shadow: rgb(75, 75, 75) 0px 0px .5rem;

}
.containerImg{
    border-radius: 50%;
    overflow: hidden;
    transition: box-shadow 0.5s linear;
}

.containerImg:hover{
    box-shadow: rgb(75, 75, 75) 0px 0px .5rem;
}

.infoUs {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
}

.usLet {
    font-size: .9rem;
    font-weight: 600;
    color: #787877;  
}
.data {
    font-size: .9rem;
    font-weight: 300;
    color: #787877;
}

.containerBtn {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    margin-top: .2rem;
}
 
.edit {
    display: flex;
    justify-content: flex-end;
    margin-right: 11rem;
    margin-top: .2rem;
    font-size: 1rem;
    background-color: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    list-style: none;
    color: rgb(187, 185, 185);
}

/* /////////////////////////////////////////////////////////// */
/* FAV Y RES */

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* text-align: center; */
    /* align-items: center; */
}

/* /////////////////////////////////////////////////////////// */
/* FAVORITE */

.containerFav {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 35%;
    /* height: 200vh; */
    padding: 1rem;
    border-right: 1px solid rgb(180, 179, 179);
}

.box1 {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    background-color: rgb(238, 238, 238);
    padding: 1rem;
    margin: 0rem 2rem 1rem 0;
    box-shadow: 0px 0px 10px 1px #bbbbbb; 
    cursor: pointer; 
} 

.btnRemove {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    font-size: .8rem;
    font-weight: 600;
    border-radius: 0.5rem;
    cursor: pointer;
    list-style: none;
    color: rgb(111, 111, 111);
    margin-top: 1rem;
    padding-bottom: .5rem;
}

.containBike {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
}

.titleBike {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: .1rem;
    color: #da9d1a;
}

.detail {
    font-size: .9rem;
    font-weight: 500;
    color: #333333;
}

/* /////////////////////////////////////////////////////// */
/* RESERVAS */

.containerRes {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 35%;
    /* height: 200vh; */
    padding: 1rem;
}

.btnChoose {
    line-height: 1;
    padding: 0;
    font-size: .8rem;
    width: 6vw;
    height: 4vh;
    background-color: transparent;
    border-radius: 0.5rem;
    border-color: rgba(255, 251, 251, 0.453);
    box-shadow: inset 0 5px 10px rgb(0 0 0 / 10%), 0 2px 5px rgb(0 0 0 / 50%);
    cursor: pointer;
    list-style: none;
    color: rgb(255, 255, 255);
    background: #F9B621;
}

.btnChoose:hover {
    color: #F9B621;
    background:rgb(255, 255, 255);
    box-shadow: inset 0 5px 10px rgb(0 0 0 / 10%), 0 2px 5px rgb(0 0 0 / 50%);
    transition: all .5s linear;
}

.hola {
    background-color: #da9d1a;
}

.btnGo {
    line-height: 1;
    padding: 0;
    font-size: .8rem;
    width: 3vw;
    height: 3.5vh;
    background-color: transparent;
    border-radius: 0.3rem;
    border-color: rgba(255, 251, 251, 0.453);
    box-shadow: inset 0 5px 10px rgb(0 0 0 / 10%), 0 2px 5px rgb(0 0 0 / 50%);
    cursor: pointer;
    list-style: none;
    color: rgb(255, 255, 255);
    background: #F9B621;
}

.btnGo:hover {
    color: #F9B621;
    background:rgb(255, 255, 255);
    box-shadow: inset 0 5px 10px rgb(0 0 0 / 10%), 0 2px 5px rgb(0 0 0 / 50%);
    transition: all .5s linear;
}

.span {
    font-size: 1rem;
    font-weight: 400;
    color: #616060;
    padding: .5rem;
}

.title {
    font-size: 1.1rem;
    font-weight: 700;
    color: #333333;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
}

.box2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    background-color: rgb(238, 238, 238);
    padding: 1rem;
    margin: 2rem 0rem 1rem 2rem;
    box-shadow: 0px 0px 10px 1px #bbbbbb;  
}

.titleList2 {
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .1rem;
    color: #da9d1a;
}

.list2 {
    font-size: .9rem;
    font-weight: 600;
    color: #333333;
}

.status {
    font-size: 1.2rem;
    font-weight: 600;
    color: #da9d1a;
}

.flex {
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;
    align-items: center;
}

.opinion {
    font-size: .9rem;
    font-weight: 500;
    color: #333333;
}

.flex1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid #da9d1a;
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 0px 10px 1px #bbbbbb;    
}

/* CANCELADO */
/* ///////////////////////////////////////// */

.flexCancel {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
    margin-bottom: .5rem;
}

.boxCancel {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    padding: 1rem;
    margin: 2rem 0rem 1rem 2rem;
    box-shadow: 0px 0px 10px 1px #bbbbbb;  
}

.titleCancel {
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .1rem;
    color: #939393;
}

.statusCancel {
    font-size: 1.2rem;
    font-weight: 500;
    color: #3e3d3d; 
}

.list2Cancel{
    font-size: .9rem;
    font-weight: 600;
    color: #939393;
}


.btnCancel {
    line-height: 1;
    padding: 0;
    font-size: .8rem;
    width: 5vw;
    height: 3.5vh;
    border-radius: 0.3rem;
    border-color: rgba(255, 251, 251, 0.453);
    box-shadow: 0px 0px 10px 1px #bbbbbb;  
    cursor: pointer;
    list-style: none;
    color: rgb(36, 36, 36);
}

.btnCancel:hover {
    background-color: red;
    color: white;
    transition: all .5s linear;
}

/* /////////////////////////////////////////////////////// */

.box2cancel {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    border: .5rem solid #E81C24;
    padding: 2rem;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 5rem;
    box-shadow: 0px 0px 10px 1px #bbbbbb;  
}

.cancel {
    font-size: 1.5rem;
    font-weight: 600;
    color: #E81C24;
}

.cancelText {
    font-size: 1rem;
    font-weight: 600;
    color: #E81C24;
}

.containBtn {
   display: flex;
   padding: 0;
   margin: 0; 
}

.btnCanc {
    line-height: 1;
    padding: 0;
    margin-top: 1rem;
    font-size: .8rem;
    width: 4vw;
    height: 3.5vh;
    background-color: transparent;
    border-radius: 0.3rem;
    border-color: rgba(255, 251, 251, 0.453);
    box-shadow: inset 0 5px 10px rgb(0 0 0 / 10%), 0 2px 5px rgb(0 0 0 / 50%);
    cursor: pointer;
    list-style: none;
    color: #E81C24;
    background: #ffffff;
}

.btnBack {
    line-height: 1;
    padding: 0;
    margin-top: 1rem;
    font-size: .8rem;
    width: 5vw;
    height: 3.5vh;
    background-color: transparent;
    border-radius: 0.3rem;
    border-color: rgba(255, 251, 251, 0.453);
    box-shadow: inset 0 5px 10px rgb(0 0 0 / 10%), 0 2px 5px rgb(0 0 0 / 50%);
    cursor: pointer;
    list-style: none;
    color: #E81C24;
    background: #ffffff;
    margin-left: 1rem;
}

.btnCanc:hover {
    color:#ffffff;
    background: #E81C24;
    transition: all .5s linear;
}

.btnBack:hover {
    background: #d5d5d5;
    color: #393939;
    transition: all .5s linear;
} 
