
/* /////////////////////////////////////////////////////// */
/* USUARIO */

.containerUs {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 2rem .5rem 2rem ;
    border-bottom: 1px solid rgb(180, 179, 179);
}

.img {
    width: 4rem;
    height: 4rem;
    background-color: rgb(238, 238, 238);
    padding: .5rem;
    border-radius: 3rem;
}

.containerImg :hover{
    box-shadow: rgb(75, 75, 75) 0px 0px .5rem;
}

.infoUs {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
}

.usLet {
    font-size: .9rem;
    font-weight: 600;
    color: #787877;  
}
.data {
    font-size: .9rem;
    font-weight: 300;
    color: #787877;
}

.containerBtn {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    margin-top: .2rem;
}
 
.edit {
    display: flex;
    justify-content: flex-end;
    margin-right: 2.6rem;
    margin-top: .2rem;
    font-size: 1rem;
    background-color: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    list-style: none;
    color: rgb(187, 185, 185);
}

/* /////////////////////////////////////////////////////// */
/* FAV + RESERVAS */

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.containerFav {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 35%;
    height: 200vh;
    padding: 1rem;
    border-right: 1px solid rgb(180, 179, 179);
}

.containerRes {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 35%;
    height: 200vh;
    padding: 1rem;
}

.btnChoose {
    display: flex;
    justify-content: center;
    width: 8rem;
    height: 2rem;
    padding: .5rem;
    align-items: center;
    font-size: .9rem;
    list-style: none;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    background: #F9B621;
}

.btnChoose:hover {
    color: #F9B621;
    background:rgb(255, 255, 255);
    box-shadow: inset 0 5px 10px rgb(0 0 0 / 10%), 0 2px 5px rgb(0 0 0 / 50%);
}

.btnGo {
    width: 6rem;
    height: 2rem;
    padding: .5rem;
    margin-bottom: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    font-weight: 600;
    list-style: none;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    background: #F9B621;
    margin-bottom: .5;
}

.btnGo:hover {
    color: #F9B621;
    background:rgb(255, 255, 255);
    box-shadow: inset 0 5px 10px rgb(0 0 0 / 10%), 0 2px 5px rgb(0 0 0 / 50%);
}

.span {
    font-size: 1rem;
    font-weight: 400;
    color: #616060;
    padding: .5rem;
}

.title {
    font-size: 1.1rem;
    font-weight: 700;
    color: #333333;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
}

.box2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    border-bottom: 1px solid rgb(180, 179, 179);
}

.titleList2 {
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .1rem;
    color: #da9d1a;
}

.titleList2a{
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .1rem;
    color: #da9d1a;
    background-color: #dddddd;
    margin-bottom: 1rem;
}

.list2 {
    font-size: .9rem;
    font-weight: 300;
    color: #333333;
}

.opinion {
    font-size: 1.1rem;
    font-weight: 500;
    color: #333333;
}

.flex {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
}

.flex1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
}
/* .allPage{
    width: 100%;
    height: calc(100vh - 6rem);
    display: flex;
    align-items: center;
} */


/* .box1 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    padding: .5rem;
    height: 40%;
    background-color: #f9b52192;
    overflow-y: scroll;
} */

/* .box2 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    padding: .5rem;
    height: 40%;
    background-color: #f9b52192;
    overflow-y: scroll;
    margin-bottom: 1rem;
} */



/* .containerList1 {
    display: flex;
    align-items: center;
} */

/* .containerList1 > ul {
    margin: 0;
    padding: .5rem;
} */

/* .containerLis2 {
    display: flex;
    flex-direction: column;
    background-color: #cecece71;
} */

/* .btnRemove {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #b8b8b7;
    border-radius: .2rem;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px #646464;
} */

/* .list {
    font-size: .9rem;
    color: #333333;
    padding-left: .5rem;
    padding-bottom: .5rem;
} */

/* .list2 {
    font-size: .9rem;
    color: #333333;
    padding-left: .5rem;
    padding-bottom: .5rem;
} */

/* .infoAndImage {
    display: flex;
    justify-content: space-between;
    width: 80%;
} */

/* .information {
    gap: 50%;
    display: flex;
    flex-direction: column;
} */

/* .h4 {
    margin:0;
    font-size: .8rem;
    font-weight: 500;
    color: #484848;
} */



/* .btnHome, .btnEdit{
    color:#F9B621!important;
    background-color:#333333!important;
    font-weight: 500!important;
    position: absolute!important;
} */

/* .btnHome{
    bottom: 1rem;
    left: 2rem;
} */

/* .btnEdit{
    bottom: 1rem;
    right: 1rem;
} */

/* .background{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-position-x: center;
    background-image: url('https://res.cloudinary.com/pflet/image/upload/v1662686161/Let/image/fondo_huellas_u2a4wr.png');
} */

/* .btnGo {
    position: relative;
    margin-right: .5rem;
    align-items: center;
    font-size: .7rem;
    width: 2rem;
    height: 1.3rem;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    list-style: none;
    color: #3f3e3e;
    z-index: 100;
    box-shadow: rgb(0, 0, 0) 0px 0px 3px;
} */