@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.menu {
    width: 97%;
    height: 72%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    width: 6rem;
    cursor: pointer;
}

.options {
    display: flex;
    font-size: .1rem;
    color: #FFFFFF;
    cursor: pointer;
    gap: 1rem;
}

.span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: .8rem;
    position: relative;
}

.span:hover {
    color: #ffffff;
    background: #F9B621;
    padding: .8rem;
    border-radius: .2rem;
}
.span::after{
    content: '';
    display: block;
    position: absolute;
    left: 0.8rem;
    width: 80%;
    height: 0.2rem;
    background-color: #F9B621;
}


div:hover > hr {
    display: none;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

hr {
    width: 5rem;
}

.dropdown {
    padding: 0.625rem;
    background: #F9B621;
}

.login {
    position: relative;
    display: flex;
    align-items: center;
}

.carrito {
    width: 1.4rem;
    cursor: pointer;
}

.carritoBtn {
    background-color: transparent;
    width: fit-content;
    border: none;
}

.bell {
    width: 1.4rem;
    cursor:pointer;
    margin-left: 1rem;
}
