@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.menu {
    width: 97%;
    height: 72%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    width: 6rem;
    cursor: pointer;
}

.options {
    display: flex;
    font-size: .1rem;
    color: #FFFFFF;
    cursor: pointer;
    gap: 1rem;
}
.options div a{
    position: relative;
    justify-content: center;
    display: flex;
}
.options div a div{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #333333;
    display:none
}

.span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: .8rem;
    position: relative;
    transition: background-color 0.5s ease-in-out;
}

.span:hover {
    color: #ffffff;
    background-color: #F9B621;
    padding: .8rem;
    border-radius: .2rem;
}

.span::after{
    content: '';
    display: block;
    position: absolute;
    left: 0.8rem;
    width: 80%;
    height: 0.2rem;
    background-color: #F9B621;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

hr {
    width: 5rem;
}

.dropdown {
    padding: 0.625rem;
    background: #F9B621;
}

.login {
    position: relative;
    display: flex;
    align-items: center;
}

.carrito {
    width: 1.4rem;
    cursor: pointer;
}

.carritoBtn {
    background-color: transparent;
    width: fit-content;
    border: none;
    margin-right: 10px;
}

.bell {
    width: 1.4rem;
    cursor:pointer;
}


.adm {
    width: 2.3rem;
    cursor:pointer;
    margin-right: .8rem;
}

.containerBell {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.bellBtn {
    background-color: transparent;
    border: none;
    appearance: none;
}

.counter, .hidde {
    position: absolute;
    color: white;
    border: 1px solid red;
    border-radius: 50%;
    width: 1.3rem;
    display: flex;
    justify-content: center;
    background-color: red;
    bottom: 0.8rem;
    left: 1rem;
    font-size: 0.8rem;
}
.hidde{
    visibility: hidden;
}

.backNotification{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    cursor:default;
}

.notifications {
    position: absolute;
    background-color: #333333;
    color: black;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    top: 3.6rem;
    right: .5rem;
    row-gap: .5rem;
    border-radius: 1rem;
    opacity: .85;
}

.notifications hr {
    color: #F9B621;
    width: 100%;
}

.notification {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    position: relative;
    z-index: 100;
}

.spanNotification {
    padding: 1rem;
    font-size: 1rem;
    width: 15rem;
    color: white;
}

@media (max-width:1140px) {
    .options{
        position: fixed;
        top: calc(100vh - 4rem);
        left: 0;
        right: 0;
        height: 4rem;
        justify-content: space-evenly;
        background-color: #333333;
        gap: 0;
    }
    
}

@media (max-width:900px) {
    .options div a div{
        width: 4rem;
        height: 4rem;
        display: flex;
        position: absolute;
        z-index: 10;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }
    .span{
        display: none;
        position: absolute;
    }
    .span::after{
        background-color: transparent;
    }
    .options div a div:hover{
        animation: up 0.5s forwards;
    }
    .active{
        animation: up 0.5s forwards;
    }
    .responsiveIcons{
        color: #f4b220;
        background-color: #333333;
        font-size: 3rem!important;
        width: 3rem;
    }
    .img img{
        width:3rem;
        height: 3rem;
        color: #f4b220;
        background-color: #333333;
        font-size: 3rem!important;
    }
    .options div a div:hover + .span{
        display: flex;
        top: 1rem;
        color: white!important;
        z-index: 9;
    }
    .active + .span{
        display: flex;
        top: 1rem;
        color: white!important;
        z-index: 9;
    }
}
@media (max-width:750px) {
    .options{
        justify-content: space-around;
    }
}

@media (max-width:650px) {
    .searchbarContainer{
        position: absolute;
        top: 5.9rem;
        left: 0;
        right: 0;
        padding: 0.5rem 0;
        display: flex;
        justify-content: center;
        background-color: #333333;
    }
}

@media (max-width:500px) {
    .options{
        height: 3rem;
        top: calc(100vh - 3rem);
    }
    .options div a div{
        width: 3rem;
        height: 3rem;
    }
    .responsiveIcons{
        font-size: 2rem!important;
    }.img img{
        height: 2rem;
        width: 2rem;
    }
}

@keyframes up {
    0%{
        transform:translateY(0)
    }
    100%{
        transform:translateY(-2rem);
    }
}