.card, .cardTwo {
    position: relative;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 1.5rem; */
}

.card {
    background-color: #EBEAEA;
}

.cardTwo {
    background-color: #c9eccd;
    opacity: 0.9;
}

.imgCard {
    filter: brightness(1.3);
    mix-blend-mode: multiply;
    /* height: 14rem; */
    /* width: 20rem; */
    /* z-index: 50; */
}

.name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 0%;
    color: #000000;
    margin-bottom: 1rem;
}

.data {
    color: #333333;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: .9rem;
    line-height: 0%;
}

.price {
    color: #D6802B;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    line-height: 0%;
}