.container{
    height: 100%;
    position: relative;
    transition: transform 0.5s linear;
}

.container:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.25),-5px -5px 20px 5px rgba(0, 0, 0, 0.22);
    z-index: 1;
}

.card, .cardTwo {
    position: relative;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30rem;
}

.card {
    background-color: #f1efef;
}

.cardTwo {
    background-color: #d3d2ce;
    opacity: 0.9;
}

.imgCard {
    width: 20%;
}

.name {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 0%;
    color: #333333;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

.data {
    color: #333333;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: .9rem;
    line-height: 0%;
}

.priceCont {
    display: flex;
    justify-content: center;
}

.price, .oldPrice, .newPrice {
    color: #D6802B;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 0%;
    margin-top: 1.8rem;
}

.oldPrice {
    text-decoration: line-through;
    color: gray;
}

.newPrice {
    color: #2b4dd6;
    margin-left: 1rem;
}

.discountCont {
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    align-items: center;
    color: #2b4dd6;
}

.discount {
    font-size: 1.5rem;
    font-weight: 800;
}

.ratingCont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    height: 2rem;
    border-radius: .3rem;
    background-color: #6e6e6e;
}

.stars {
    width: 6.5rem;
    height: 1.2rem;
}

.rating {
    color: #F9B621;
    font-size: 1rem;
    font-weight: 800;
    margin-left: .3rem;
    padding-top: .1rem;
}

.rueda {
    width: 1.5rem;
    height: 1.5rem;
}

.rodado, .type {
    color: #333333;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: .3rem;
}

.electrica, .mecanica {
    filter: brightness(1.3);
    mix-blend-mode: multiply;
    margin: auto 1.5rem;
}

.electrica {
    width: 1.8rem;
    height: 1.8rem;
}

.mecanica {
    width: 1.8rem;
    height: 1.8rem;
}

.dataCont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}

.rodadoCont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.icon {
    margin: auto 1.5rem;
    color: #6e6e6e;
}
.icon:hover{
    color: #6e6e6e;
}

.btnSwal{
    background-color: #F9B621!important;
}

@media (max-width:350px) {
    .card img, .cardTwo img{
        width: 90%;
    }
}