.h1{
    display: flex;
    margin-left: 3rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    font-weight: 300;
    height: 10%;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #787877
}

.container {
    display: flex;
    justify-content: center;
}

.left {
    position: fixed;
    background-color: #f0efef;
    height: 400vh;
    width: 18%;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.205)
}

.right {
    position: fixed;
    background-color: #f0efef;
    height: 400vh;
    width: 18%;
    right: 0;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.267)
}

.divSticky{
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 6rem;
    z-index: 1;
    padding: 0 2rem;
    background-color: #f0efef;
    width: 54.5vw;
    margin:0px auto;
    border-radius: 0.1rem;
}

.containFiltersSelected{
    display: flex;
    flex-direction: row;
    width: 20rem;
}

.divDateAndOrder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 1rem;
    margin:0px auto;
    width: 55vw;
}