@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
.blogCard {
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
    margin-bottom: 1.6%;
    background: #333333;
    line-height: 1.4;
    border-radius: .5rem;
    width: 55%;
    box-shadow: 2px 0px 20px 2px rgba(0, 0, 0, 0.37);
    overflow-y: scroll; 
}

.imgcard{
    display: flex;
    flex-direction: row;
    height: 33vh;
    margin-top: auto;
    margin-bottom: auto;
}

.description {
    padding: 1rem;
    position: relative;
    width: 100%;
}

.h1 {
    text-align: left;
    font-size: .9rem;
    color: #F9B621;
    margin: 0;
}

.name {
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    color: #F9B621;
    margin: 0;
    padding-top: .5rem;
    padding-bottom: .2rem;
}
.containH1 {
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 1rem;
    align-items: center;
}

.h2 {
    font-size: .9rem;
    font-weight: 300;
    color: white
}

.p, .edit {
    position: relative;
    margin: 1rem 0 0;
    font-size: .8rem;
    font-weight: 300;
}

.iconBtn {
    background-color: transparent;
    border: none;
    appearance: none;
    margin-top: 1rem;
    margin-right: 1rem;
}

.containerLikes {
    display: flex;
    flex-direction: row;
    column-gap: .5rem;
    align-items: flex-end;
}

.likes {
    color: #F9B621;
    font-size: 1rem;
}

.edit {
    background: #333333;
    color: white;
    line-height: 1.4rem;
    /* width: 180%; */
}

.iconCont {
    display: flex;
}

.btnSwal{
    background-color: #F9B621!important;
}