.separator{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 20.33%;
    bottom: 77.96%;
    margin-top: 1410px;
    width: 1680px;
    }

    .out{
    position: absolute;
    width: 1680px;
    height: 730px;
    left: 0px;
    /* top: 962px; */
    margin-top: 710px;
   
    }