@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: fit-content;
    background-color: #ffffff;
}

.containerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titleDiv {
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-top: 2rem;
}

.container hr {
    display: flex;
    width: 100%;
    border: none;
    height: .5px;
    opacity: 0.6;
}

.container:hover > hr {
    display: flex;
}

.title {
    display: flex;
    margin-left: 3rem;
    font-size: 1.5rem;
    height: .3rem;
    margin-top: 1rem;
    font-weight: 600;
}

.bikes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}

.cardBike {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img {
    filter: brightness(1.3);
    mix-blend-mode: multiply;
}

.img_aux {
    width: 100%;
    margin-top: 5rem;
}

.totalPrice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.bikeName {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    color: #333333;
}

.total {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: #D6802B;
    margin: 0;
}

.reserveBtn {
    padding: 1rem 2rem 1rem 2rem;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Roboto';
    font-style: normal;
    border: 2px solid #D6802B;
    background-color: transparent;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.btn {
    position: absolute;
    right: 43rem;
    margin-top: 3rem;
    width: 8rem;
    height: 3rem;
    color: #595858;
    background-color:#ffffff ;
    font-size: .9rem;
    font-weight: 600;
    border: none;
    border-radius: 0.3rem;
    cursor:pointer;
    box-shadow: rgba(0, 0, 0, 0.532) 0px 0px 6px 0px; 
}

.reserveBtn:hover, .btn:hover, .returnBtn:hover {
    background-color: #D6802B;
    color: white;
}

.titleEmpty {
    position: relative;
    font-weight: 700;
    font-size: 2rem;
}

.prices {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
}

.deleteBtn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.accesoriesPreview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 0.5rem;
    grid-column-gap: .5rem;
    height: 5rem;
    margin-top: 1rem;
}

.accs {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
}

.containerBtn {
    display: flex;
    column-gap: 5rem;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15rem;
}

.btnSwal{
    background-color: #F9B621!important;
}

.sincarrito {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.deleteBtn {
    border: none;
    background-color: transparent;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: .5rem;
}

.previewItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    margin-right: 10rem;
}

.cardBike {
    padding: 1.5rem;
    border-radius: 1.5rem;
    border: 1px solid #333333;
    height: 25rem;
}

.containerEmptyCart {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: fit-content;
    background-color: #ffffff;
    align-items: center;
}


.returnBtn {
    position: relative;
    bottom: 20vh;
    width: 8%;
    padding: .8rem;
    z-index: 50;
    background-color: transparent;
    border: 1px solid #D6802B;
    border-radius: .5rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    color: #ffffff;
}

.containerEmptyCart a {
    width: 100%;
}