@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.footer {
    position: relative;
    width: 100%;
    background-color: #333333;
    height: 20rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    z-index: 5;
}

.services, .guia, .company {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.h5 {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 0%;
}

.footerSpan {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 0.95rem;
    color: #ffffffce;
    padding-top: .8rem;
}

.icons {
    margin-top: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

span {
    cursor: pointer;
}

@media (max-width:750px) {
    .footer{
        padding: 0 0.4rem;
        gap: 0.5rem;
    }
    .services, .guia, .company{
        margin-top: 2rem;
    }
    .icons{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .h5{
        font-size: 0.8rem;
        line-height: normal;
        height: 1.5rem;
    }
    .footerSpan{
        font-size: 0.7rem;
    }
}