.searchBar {
    display: flex;
    align-items: center;
    border: 0.063rem solid rgb(80, 80, 80);
    border-radius: 2rem;
    width: 15rem;
    height: 2.7rem;
    padding: 0.6rem 0.8rem;
}

.searchBar:hover {
    background-color: #ffffff0e;
    transition: background-color .3s linear;
}

input {
    border: none;
    text-decoration: none;
    background-color: transparent;
    /* color: #FFFFFF; */
    font-size: 0.938rem;
    outline: none;
}

.lupa {
    width: 1.25rem;
    margin-right: 0.625rem;
}

.lupaBtn {
    background-color: transparent;
    width: fit-content;
    border: none;
    cursor: pointer;
}

.text {
    font-family: 'Roboto';
    color:white;
}

@media (max-width:1300px) {
    .searchBar{
        width: 12rem;
    }
    .text{
        width: 8rem;
    }
}

@media (max-width:1140px) {
    .searchBar{
        width: 15rem;
    }
    .text{
        width: 10rem;
    }
}

/* @media (max-width:650px) {
    .searchBar{
        width: 10rem;
    }
    .text{
        width: 6rem;
    }
} */