.searchBar {
    border: 0.063rem solid #f9f5ef71;
    border-radius: 2rem;
    z-index: 1;
    padding-top: 0.938rem;
    padding-bottom: 0.938rem;
    padding-left: 0.938rem;
    display: flex;
    align-items: center;
}

input {
    border: none;
    text-decoration: none;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 0.938rem;
    outline: none;
}

.lupa {
    width: 1.25rem;
    margin-right: 0.625rem;
}

.lupaBtn {
    background-color: transparent;
    width: fit-content;
    border: none;
    cursor: pointer;
}