@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.container {
    display: flex;
    flex-direction: column;
    background-image: url('https://res.cloudinary.com/pflet/image/upload/v1662686133/Let/image/huella-detail_fde3qc.png');
    background-size: 100%;
}

.initial{
    width: 100%;
    height: calc(100vh - 6rem);
}
.name, .row {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}
.name{
    height: 5rem;
    padding-bottom: 0.5rem;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: solid 0.1rem #F9B621;
}

.name > p {
    color: #4d4c4c;
    font-weight: 500;
    margin: 0;
}

.title {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
    color: #4d4c4c;
}

.row {
    gap: 1rem;
    margin-top: 1rem;
    height: calc(100vh - 12rem);
}

.txt {
    width: 40%;
    font-size: large;
    background-color: rgb(77, 77, 77, 0.1);
    padding: 1rem;
}
.ph{
    font-family: 'Roboto';
    font-weight:500;
    line-height: 2rem;
    color: #4d4c4c; 
}

.containerDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 1rem;
}

.cont{
    display: flex;
    flex-direction: row;
    height: 2rem;
    gap: 1rem;
}
.icon{
    width: 3.8rem;
}
.parameters{
    font-weight: 400;
    color: #4d4c4c;
    margin: 0;
}

.contp{
    width: 100%;
}

.prCont {
    display: flex;
    margin-top: 1rem;
}
.prCont h4:first-child{
    width: 11.9rem;
}
.prCont h4:last-child{
    width: 4.9rem;
}

.pr, .prOld {
    font-family: 'Roboto';
    font-size: 1.2rem;
    letter-spacing: 0.03rem;
    color: #4d4c4c; 
    padding-right: .5rem;
    font-weight: 800;
}

.prOld {
    text-decoration: line-through;
    color: gray;
}

.desc{
    border-bottom: 1px solid black;
}

.image1 {
    width: 60%;
    display: flex;
    justify-content: center;
}

.image1 img{
    max-width: 100%;
    object-fit: contain;
}

.btn2 {
    position: relative;
    line-height: 1;
    padding: 0;
    font-size: .9rem;
    font-weight: 700;
    width: 7rem;
    height: 2.5rem;
    background-color: transparent;
    border-radius: 0.2rem;
    border: none;
    box-shadow: inset 0 5px 10px rgb(0 0 0 / 10%), 0 2px 5px rgb(0 0 0 / 50%);
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: #F9B621;
    border-radius: 6px 6px 6px 6px;
    transition: all .3s linear;
    letter-spacing: .03rem;
    line-height: 1rem;
}

.btn2:hover {
    background-color: #FFFFFF;
    color: #F9B621;
    /* border: solid .1rem #F9B621 */
}

.gallery{
    grid-template-columns: repeat(3, minmax(0, 1fr));
    background-color: rgb(77, 77, 77);
    width: 100%;
    height: 40vh;
    flex-direction: row;
    display: flex;
}

.photo{
    display: block;
    width: 80%;
    padding: 4rem;
    font-family: 'Roboto';
    margin-left: 3rem;
}

.titleAccAndTech {
    display: flex;
    align-items: center;
    height: 5vh;
    background-color: #adadad;
    color: white;
    justify-content: center;
}

.titleAccAndTech > h2 {
    font-weight: 400;
}

.containerGral{
    display: flex;
    background-color: white;
    width: 100%;
    flex-direction: row ;
}

.containerAcc{
    position: relative;
    z-index: 25;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: .5rem;
    grid-row-gap: .3rem;
}

.tech{
    display: block;
    width: 100%;
}

.containerVideo{
    background-color: white;
}

.video{
    display: block;
    padding: 3rem;
    background-color: white;
}

.titleTA{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    padding: .5rem 0 0 .5rem;
    font-weight: 400;
}

.boxes {
    margin: auto;
    padding-top: .7rem;
    background: white;
    width: 17vh;
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 15px 'Roboto';
    color: #484848;
    cursor: pointer;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #F9B621;
    position: absolute;
    left: 0;
    top: 50%!important;
    transform: translateY(-50%);
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    color:#4d4c4c
}

.btnSwal{
    background-color: #F9B621!important;
}

.containerAccesories{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 15%;
    align-items: center;
}

.containerAccesories div{
    font-weight: 800;
    margin: 0;
    text-align: center;
}

.precio{
    color: #484848;
    font-size: .9rem;
    font-weight: 600;
}

.precioTotal{
    color: #484848;
    font-family: 'Roboto';
    margin-top: 1rem;
    font-weight: 600;
}

.labelBlack {
    color:#4d4c4c
}

@media (max-width:1140px) {
    .row{
        height: calc(100vh - 15rem);
        margin-top: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .txt{
        height: 11rem;
        background-color: transparent;
        margin-top: 1rem;
        width: 90vw;
        padding: 0;
        padding-top: 1rem;
    }
    .ph{
        margin: 0;
    }
    .containerDetails{
        height: 4rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .prCont{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .cont{
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .icon{
        height: 2rem;
    }
    .parameters{
        text-align: center;
    }
    .desc{
        width: 90vw;
        max-height: 4rem;
        overflow: scroll;
    }
    .image1{
        height: calc(100% - 16rem);
        width: 95vw;
        justify-content: center;
    }
    .image1 img{
        height: 100%;
    }
    .precio{
        margin-top: 0;
        text-align: center;
    }
}

@media (max-width:950px){
    .containerAcc{
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (max-width:650px) {
    .initial{
        margin-top: 4rem;
        height: calc(100vh - 10rem);
    }
    .row{
        height: calc(100vh - 17rem);
    }
    .name p{
        display:none;
    }
    .containerDetails{
        display: grid; 
        grid-template-columns: repeat(2,1fr);
    }
    .icon{
        height: 1rem;
        width: 2rem;
    }
    .parameters{
        font-size: 0.8rem;
        width: 7rem;
    }
    .prCont{
        bottom: -1rem;
    }
    .image1{
        height: calc(100% - 15rem);
    }
    .image1 img{
        max-width: 90vw;
    }
    .containerGral{
        flex-direction: column;
    }
    .containerAccesories {
        flex-direction: row;
        width: 100%;
    }
    .containerAcc{
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (max-width:430px) {
    .title{
        font-size: 2rem;
    }
    .parameters{
        width: 4rem;
    }
    .txt{
        padding-top: 0;
        height: 12.5rem;
    }
    .desc{
        max-height: 5rem;
    }
    .ph{
        font-size: 1rem;
    }
    .pr{
        font-size: 1rem;
    }
    .prCont{
        bottom: -1.5rem;
    }
    .prCont h4:first-child{
        width: 10.1rem;
    }
    .prCont h4:last-child{
        width: 4.2rem;
    }
} 

@media (max-width:300px) {
    .containerAcc{
        grid-template-columns: repeat(1, 1fr)
    }
    .containerAccesories {
        flex-direction: column;
    }
}