@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.img_aux {
    width: 100%;
    margin-top: 5rem;
}
.container {
    display: flex;
    justify-content: center;
}

.h1{
    display: flex;
    margin-left: 3rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    font-weight: 600;
    height: 10%;
    justify-content: center;
}

.btn2 {
    position: relative;
    line-height: 1;
    padding: 0;
    font-size: .9rem;
    width: 7rem;
    background-color: transparent;
    border-radius: 0.5rem;
    border-color: rgba(255, 251, 251, 0.453);
    box-shadow: inset 0 5px 10px rgb(0 0 0 / 10%), 0 2px 5px rgb(0 0 0 / 50%);
    cursor: pointer;
    list-style: none;
    color: rgb(255, 255, 255);
    background: #F9B621;
    border-radius: 6px 6px 6px 6px;
}
.precioTotal{
    color: #484848;
    font-family: 'Roboto';
    margin-top: 1rem;
    font-weight: 600;
}

.containerAdic {
    display: flex;
    justify-content: center;
}

.containerBtn {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

