@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.img_aux {
    width: 100%;
    margin-top: 5rem;
}
.container {
    display: flex;
    justify-content: center;
}

.h1{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    margin-top: 2rem;
    font-weight: 300;
    height: 10%;
    justify-content: center;
    padding-top: 1rem;
    color: #787877;
}

.btn2 {
    line-height: 1;
    padding: 0;
    font-size: .9rem;
    width: 7vw;
    height: 5vh;
    background-color: transparent;
    border-radius: 0.5rem;
    border-color: rgba(255, 251, 251, 0.453);
    box-shadow: inset 0 5px 10px rgb(0 0 0 / 10%), 0 2px 5px rgb(0 0 0 / 50%);
    cursor: pointer;
    list-style: none;
    color: #F9B621;
    background: #333333;
    border-radius: .5rem;
    transition: all .5s linear;
}

.btn2:hover {
    background-color: #F9B621;
    color: #333333;
}

.precioTotal{
    color: #484848;
    font-family: 'Roboto';
    font-weight: 600;
    margin-left: 1rem;
}

.containerAdic {
    display: flex;
    justify-content: center;
}

.containerBtn {
    position: sticky;
    top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-bottom: 1rem;
    padding-top: 1rem;
    z-index: 1;
}

.left {
    position: fixed;
    background-color: #f0efef;
    height: 400vh;
    width: 12%;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.205);
    z-index: 2
}

.right {
    position: fixed;
    background-color: #f0efef;
    height: 400vh;
    width: 12%;
    right: 0;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.267);
    z-index: 2
}

.btnSwal{
    background-color: #F9B621!important;
}

@media (max-width: 1000px) {

    .h1 {
        margin-top: 4rem;
        margin-left: 1rem;
    }

    .containerBtn {
        top: 9rem;
    }

    .btn2 {
        width: 7rem;
    }
}

@media (max-width: 850px) {
    .h1 {
        margin-top: 4rem;
        margin-left: 0rem;
        font-size: 1.3rem; 
    }

    .containerBtn {
        top: 6rem;
    }

    .left, .right {
        width: 10%;
    }
}

@media (max-width: 650px) {

    .containerBtn {
        top: 9rem;
    }

    .h1 {
        font-size: 1.15rem; 
    }

    .left, .right {
        width: 9%;
    }
}

@media (max-width: 550px) {
    .left, .right {
        width: 7%;
    }
}