@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.blogCard {
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
    margin-bottom: 1.6%;
    background: #333333;
    line-height: 1.4;
    border-radius: .5rem;
    width: 55%;
    box-shadow: 2px 0px 20px 2px rgba(0, 0, 0, 0.37);
    transition: transform 0.5s linear;
}

.blogCard:hover {
    transform: scale(1.03);
    box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.555);
}

.imgcard{
    display: flex;
    flex-direction: row;
    height: 33vh;
    margin-top: auto;
    margin-bottom: auto;
}

.description {
    padding: 1rem;
    position: relative;
}

.h1 {
    text-align: left;
    font-size: 1.5rem;
    color: #F9B621;
    display: flex;
    flex-direction: column;
}

.h2 {
    font-size: .75rem;
    font-weight: 300;
    color: white;
}
.diff{
    font-size: .75rem;
    font-weight: 300;
    color: white;
}
.p {
    position: relative;
    margin: 1rem 0 0;
    font-size: .9rem;
    font-weight: 300;
}
.price {
    font-size: .9rem;
    font-weight: 300;
    padding-right: 2rem;
    margin: 0;
    padding: 0 .5rem 0 0;
}

.p2 {
    position: relative;
    margin: 1rem 0 0;
    font-size: .9rem;
    font-weight: 300;
    color: #F9B621;
}

.boxes {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
}

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 1.7rem;
    font: .9rem 'Roboto';
    color: white;
    cursor: pointer;
    font-weight:normal;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
    content: '';
    display: block;
    border: 1px solid #F9B621;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.label {
    color: #333333;
}

.btnSwal{
    background-color: #F9B621!important;
}