.container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background-color: #F2F2F2;
}

.slider {
    overflow: hidden;
    width: 100%;
    margin: auto;
    height: 50rem;
    display: flex;
    align-items: center;
}

.slider .slider_track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(25rem * 24);
}

.slider .slide {
    width: 25rem;
}

.slider .slide img {
    width: 100%;
} 

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    100% {
        -webkit-transform: translateX(calc(-12.5rem * 12));
        transform: translateX(calc(-12.5rem * 12))
    }
}

.title {
    position: absolute;
    color: #787877;
    top: 7%;
    z-index: 1;
    font-weight: 300;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.destacadas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
} 

#one, #three {
    background-color: #F2F2F2;
}

#two, #four {
    background-color: #EBEAEA;
}

.price {
    color: #D6802B;
    font-size: 1.3rem;
}

.images {
    filter: brightness(1.05);
    mix-blend-mode: multiply;
}

.rueda {
    width: 1.5rem;
    height: 1.5rem;
}

.rodado, .type {
    color: #333333;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: .3rem;
}

.type {
    padding-top: .5rem;
}



.dataCont {
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
}

.rodadoCont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding-top: .5rem;
}

.price {
    color: #D6802B;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 0%;
    margin-top: 1.8rem;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 0%;
    color: #333333;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

.ratingCont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
    height: 2rem;
    border-radius: .3rem;
    background-color: #6e6e6e;
}

.stars {
    width: 3rem;
    height: 0.8rem;
    margin-left: .5rem;
}

.rating {
    color: #F9B621;
    font-size: .8rem;
    font-weight: 800;
    margin-left: .2rem;
    margin-right: 0.5rem;
}


.rueda {
    width: 1.5rem;
    height: 1.5rem;
}

.rodado, .type {
    color: #333333;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: .3rem;
}

.type {
    padding-top: .5rem;
}

.electrica, .mecanica {
    filter: brightness(1.3);
    mix-blend-mode: multiply;
    margin: auto 1.5rem;
    width: 1.1rem;
    height: 1.1rem;  
}

.dataCont {
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
    align-items: center;
}

.rodadoCont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

