@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.filtersSticky{
    position: sticky;
    top: 11rem;
    padding: 0 0.7rem;
    height: calc(100vh - 11rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10rem;
    overflow-y: scroll;
}

.title {
    margin-top:1.8rem;
    font-weight: 500;
    color: #d6802b;
    font-size: 1.1rem;
    line-height: 0rem;
}

.result {
    font-size: .9rem;
    letter-spacing: 0.1em;
    color: #666666;
    margin-bottom: 1rem;
}

.reset {
    width: 8rem;
    height: 2rem;
    padding: .5rem;
    margin-bottom: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    list-style: none;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    background: #ef8d24bf;
    border-color: rgba(255, 251, 251, 0.453);
    box-shadow: inset 0 5px 10px rgb(0 0 0 / 10%), 0 2px 5px rgb(0 0 0 / 50%);
    cursor: pointer;
}

.spanFilters {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1em;
    padding: 0.4rem 0 0.4rem 0;
    margin: 1rem 0 1rem 0;
    color: #666666;
}


.tractionCont {
    display: flex;
    align-items: center;
    width: 11rem;
    color: rgb(154, 154, 14);
    margin-bottom: 1rem;
    margin-left: 3rem;

}

.checkCont {
    display: flex;
    justify-content: center;
}

.iconBtn {
    background-color: transparent;
    border: none;
}

.icon {
    margin: auto .8rem;
    opacity: 0.7;
}

.iconBtn {
    mix-blend-mode: multiply;
    margin: auto .5rem;
    cursor: pointer;
}

.iconBtn.act {
    box-shadow: #565655 0px 0px 6px 0px;
}


/* ....................................................... */
/* .select {
    width: 11rem;
    height: 1.8rem;
    padding: 0;
    margin-bottom: .2rem;
    cursor: pointer;
    list-style: none;
    color: rgb(86, 85, 85);
    background: #e1e0e0;
    border-radius: .5rem;
    font-weight: 300;
    font-size: .1rem;
    line-height: 21px;
    letter-spacing: 0.1em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.532) 0px 0px 6px 0px;
} */

/* .select.act {
    background-color: #ef8d24bd;
    font-weight:500;
}

select > option {
    color: #706f6f;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: .9rem;
    line-height: 21px;
    letter-spacing: 0.1em;
} */

/* .input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 1.8rem;
    padding: 0;
    margin: 0;
    border-color: #81807f41;
    cursor: pointer;
    list-style: none;
    color: rgb(86, 85, 85);
    background: #e1e0e0;
    border-radius: .2rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: .9rem;
    line-height: 21px;
    letter-spacing: 0.1em;
    box-shadow: rgba(0, 0, 0, 0.532) 0px 0px 6px 0px;
}

.input.act {
    background-color: #ef8d24bd;
    font-weight:500;
} */

/* .priceInputs {
    width: 10rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: none;
    color: #333333;
    margin-left: 1rem;
} */


