.allPage{
    height: calc(100vh - 6rem);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 35%;
    padding-bottom: 10rem;
    border-radius: 2rem;
    box-shadow: 0px -1px 8px 2px #5e5d5d;
}
.container, .form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    background-color: #5e5d5d;
}
.form{
    width: 100%;
    height: 100%;
}

.container form>div{
    width: 55%;
    margin-bottom: 1rem;
    margin-left: -5rem;
}

.nameAndImg{
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    color: #ffffff;
}

.nameAndImg label{
    width: 4.5rem;
    height: 4.5rem;
    overflow: hidden;
}

.nameAndImg label span:hover{
    background-color: #5e5d5d6c;
    width: 5rem;
    height: 5rem;
    transform: translate(5px, 5px);
}
.nameAndImg img{
    border-radius: 50%;
}
.img {
    position: absolute;
    width: 4.5rem;
}
.iconCamera{
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #333333!important;
}
.imgContainer:hover > .img {
    opacity: 0.5;
}
.imgContainer:hover > .iconCamera{
    opacity: 1;
}
.btnSend{
    color:#ffffff!important;
    background-color: #F9B621!important;
    font-weight: 1000!important;
    position: absolute!important;
    bottom: 2rem;
    right: 1rem;
}
.btnSend:disabled{
    color:#dfd8d8!important;
    background-color: #f7ca6a!important;
}
.btnHome{
    color:#ffffff!important;
    background-color: #F9B621!important;
    font-weight: 1000!important;
    position: absolute!important;
    bottom: 2rem;
    left: 1rem;
}

.btnBack{
    color:#ffffff!important;
    background-color: #F9B621!important;
    font-weight: 1000!important;
    position: absolute!important;
    top: 2rem;
    left: 1rem;
}

.background{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-position-x: center;
    background-image: url('https://res.cloudinary.com/pflet/image/upload/v1662686161/Let/image/fondo_huellas_u2a4wr.png');
}
input::placeholder{
    padding-left:0.5rem;
}

.logo {
    margin-left: 17rem;
    width: 5rem;
    display: block;
}

.etiquetap {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.1rem;
    color: #ffffff;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.input{
    color: #ffffff!important;
}
