@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.loginSpan {
    color: #FFFFFF;
    cursor:pointer;
    margin-right: 1rem;
    font-size: .8rem;
    letter-spacing: .1rem
    
}

.loginSpan:hover {
    color: #F9B621;
    transition: color .5s linear;
}

.personaBtn {
    background-color: transparent;
    width: fit-content;
    border: none;
}

.persona {
    width: 1.5rem;
    cursor:pointer;
    margin-right: 15px;
}

