.loginSpan {
    color: #FFFFFF;
    cursor:pointer;
    margin-right: 10px;
    font-size: .8rem;
    letter-spacing: .1rem
}

.personaBtn {
    background-color: transparent;
    width: fit-content;
    border: none;
}

.persona {
    width: 1.5rem;
    cursor:pointer;
    margin-right: 15px;
}

.containerLog{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}

.name{
    position: absolute;
    top: 2.1rem;
    width: 10rem;
    /* margin-right: 1.7rem; */
    color:#ffffff94;
    text-align: center;
    font-size: .7rem;
    margin-top: .3rem;
}

.profilePic {
    background-color: transparent;
    border: none;
}

.profilePic img {
    border-radius: 50%;
    width: 2.2rem;
}