.loginSpan {
    color: #FFFFFF;
    cursor:pointer;
    margin-right: 10px;
    font-size: .8rem;
    letter-spacing: .1rem
}

.loginSpan:hover {
    color: #F9B621;
    transition: color .5s linear;
}

.personaBtn {
    background-color: transparent;
    width: fit-content;
    border: none;
}

.persona {
    width: 128%;
    height: 128%;
    cursor:pointer;
    object-fit: contain;
}

.containerProfilePic button{
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.containerLog{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
}
.containerLog button{
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    border-radius: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    position: absolute;
    top: 2.3rem;
    width: 10rem;
    color: #ffffff94;
    text-align: center;
    font-size: .7rem;
    right: 2rem;
    /* margin-top: .1rem; */
}

.profilePic {
    background-color: transparent;
    border: none;
}

.profilePic img {
    border-radius: 50%;
    width: 2.2rem;
}