.background{
    background-image: url(../../../image//fondo_huellas.png);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10rem;
}

.btnBack, .btnProfile{
    position: absolute;
    margin-top: 20rem;
    /* top:5rem; */
    width: 8rem;
    height: 3rem;
    color: #595858;
    background-color:#ffffff ;
    font-size: .9rem;
    font-weight: 600;
    border: none;
    border-radius: 0.3rem;
    cursor:pointer;
    box-shadow: rgba(0, 0, 0, 0.532) 0px 0px 6px 0px;
}
/* f9b521 */

.btnBack{
    left: 38%;
}

.btnProfile{
    left: 55%;
}

.btnProfile:hover, .btnBack:hover{
    background-color: #d39307;
}

.buttons {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-evenly;
}

.postlogin{
    margin-left: auto;
    margin-right: auto;
    height: 20%;
}