img {
    position: absolute;
    width: 1920px;
    height: 1080px; 
    left: 0px;
    top: 0px;
}

.location {
    position: absolute;
    width: 360px;
    right: 1486px;
    top: 11px;
    bottom: 1041px;

    z-index: 1;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;

    color: #BEB9B9;
}

