@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


.calendarE{
    margin: 0;
    padding: 0;
    width: 50%;
    margin-left: 15rem;
    background-color: #e1e0e0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}