.containerComp {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-top: 0;
    padding-bottom: 2rem;
}
.containerTit {
    background-color: #ffffff;
    margin-bottom: 0;
}

.h1 {
    display: flex;
    margin-left: 3rem;
    font-size: 1.5rem;
    padding-top: 3rem;
    font-weight: 600;
    height: 10%;
    justify-content: center;
    color: rgb(87, 87, 87)
}

.p {
    width: 40rem;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.07em;
    color: rgb(87, 87, 87);
    margin-left: auto;
    margin-right: auto;
}

.left {
    position: fixed;
    background-color: #f0efef;
    height: 400vh;
    width: 18%;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.205)
}

.right {
    position: fixed;
    background-color: #f0efef;
    height: 400vh;
    width: 18%;
    right: 0;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.267)
}
