.contain{
    display: flex;
    margin: 0;
    position: relative;
    left: 4rem;
    padding: 0;
    width: 30%;
    height: 10%;
    top: -3rem
}
.date{
    margin: 0;
    padding: 0;
    width: 40%;
    margin: 0;
    background-color: #e1e0e0;
}

