nav {
    position: sticky;
    height: 6rem;
    left: 0;
    top: 0;
    right: 0;
    z-index: 101;
    background: #333333;
}

.title {
    margin-left: .5rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.75rem;
    color: #8d8b8b;
    margin-top: 0;
}

.location {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 25%;
    background: #F9F5EF;
}

.goLocation {
    color: #b2b1b1;
    height: 1rem;
    margin-left: 1rem;
    margin-top: .3rem;

}
