nav {
    position: fixed;
    height: 130px;
    left: 0;
    top: 35px;
    right: 0;
    z-index: 1;

    background: #333333;
    opacity: .85;
    display: flex;
}

.icon {
    position: absolute;
    width: 174px; 
    left: 2.5%; 
    top: 18px; 
    bottom: 924px;
    cursor: pointer;
}