.coverGrid{
    height: 90%;
    width: 90%;
    max-width: 27.5rem;
    margin-inline: auto;
}

.list{
    margin-left: auto;
    margin-right: auto;
    background-color: #333333;
}

.list *{
    color: white;
    font-family: 'Roboto' 'sans-serif'
}

.edit path{
    color: #f9b621;
}

@media (max-width:650px) {
    .accesories{
        margin-top: 4rem;
    }
}

.h1{
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    height: 10%;
    justify-content: center;
    padding-top: 1rem;
    color: #787877;
}

.show{
    display: flex;
}

.hidde{
    display: none;
}

.editAcc{
    margin-top: 0.5rem;
    margin-left: .2rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border-color: rgb(169, 169, 169);
    font-size: small;
    color: black;
    background-color: #f9b621;
    cursor: pointer;
}

.editAcc:hover{
    background-color: #d39307;
}