.allPage{
    width: 100%;
    height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.column img{
    width: 2rem;
    background-color: #333333;
    border-radius: 50%;
    cursor: pointer;
}

.btnBook{
    position: relative;
    color:#F9B621!important;
    background-color:#333333!important;
    font-weight: 1000!important;
}

.show{
    display: flex;
}

.hidde{
    display: none;
}

.couple{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.addBtn{
    width: 2rem!important;
    height: 2rem!important;
    color: #F9B621!important;
    background-color: #333333;
    border-radius: 50%;
    cursor: pointer;
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.background{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

@media (max-width:1140px) {
    .allPage{
        height: calc(100vh - 10rem);
    }
}