.allPage{
    width: 100%;
    height: calc(100vh - 6rem);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.column{
    text-align: center;
    height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btnBook{
    position: relative;
    color:#F9B621!important;
    background-color:#333333!important;
    font-weight: 1000!important;
}

.show{
    display: flex;
}

.hidde{
    display: none;
}

.couple{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.addBtn{
    position: absolute;
    right: -1rem;
    color: #F9B621!important;
    background-color: #333333;
    border-radius: 1rem;
    cursor: pointer;
}

.background{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

@media (max-width:1140px) {
    .allPage{
        height: calc(100vh - 10rem);
    }
}