.adventures{
    width: 100%;
    height: calc(100vh - 8rem);
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
}

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.coverGrid{
    height: 27rem;
    max-width: 71rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.goBack{
    position: absolute;
    top: 0;
    left: -3rem;
}
.goBack svg{
    width: 3rem;
    height: 3rem;
    color: #333333!important;
}

.list{
    margin-left: auto;
    margin-right: auto;
    background-color: #333333;
}

.list *{
    color: white;
    font-family: 'Roboto' 'sans-serif'
}

@media (max-width:650px) {
    .adventures{
        margin-top: 4rem;
    }
}