.bikes{
    width: 100%;
    height: calc(100vh - 8rem);
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
}

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.coverGrid{
    height: 27rem;
    max-width: 73rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.goBack{
    position: absolute;
    top: 0;
    left: -3rem;
}
.goBack svg{
    width: 3rem;
    height: 3rem;
    color: #333333!important;
}

.list{
    margin-left: auto;
    margin-right: auto;
    background-color: #333333;
}

.list *{
    color: white;
    font-family: 'Roboto' 'sans-serif'
}

.discountBtn{
    position: absolute;
    bottom: 0.5rem;
    left: 12rem;
    transform: translateX(-50%);
    z-index: 100;
    padding: 0.5rem;
    border-radius: 0.2rem;
    font-size: small;
    color: black;
    background-color: #f9b621;
    cursor: pointer;
}
.discountBtn:hover{
    background-color: #d39307;
}

.show{
    display: flex;
}

.hidde{
    display: none;
}

.edit path{
    color: #f9b621;
}

@media (max-width:770px) {
    .discountBtn{
        bottom: -3rem;
        left: 50%;
    }
}

@media (max-width:650px) {
    .bikes{
        margin-top: 4rem;
    }
    .discountBtn{
        bottom: -2.5rem;
    }
}

@media (max-width:500px) {
    .discountBtn{
        bottom: -3rem;
    }
}