.bikes{
    width: 80rem;
    height: calc(100vh - 8rem);
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.goBack{
    position: absolute;
    top: 0;
    left: 0;
}
.goBack svg{
    width: 3rem;
    height: 3rem;
    color: #333333!important;
}

.list{
    width: 73rem;
    height: 32.9rem!important;
    margin-left: auto;
    margin-right: auto;
    background-color: #333333;
    margin-top: 2rem;
}

.list *{
    color: white;
    font-family: 'Roboto' 'sans-serif'
}