.experiences{
    width: 100%;
    height: calc(100vh - 8rem);
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
}

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.coverGrid{
    height: 27rem;
    max-width: 71rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.goBack{
    position: absolute;
    top: 0;
    left: -3rem;
}
.goBack svg{
    width: 3rem;
    height: 3rem;
    color: #333333!important;
}

.list{
    margin-left: auto;
    margin-right: auto;
    background-color: #333333;
}

.list *{
    color: white;
    font-family: 'Roboto' 'sans-serif'
}

.edit path{
    color: #f9b621;
}

@media (max-width:650px) {
    .experiences{
        margin-top: 4rem;
    }
}

.h1{
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    height: 10%;
    justify-content: center;
    padding-top: 1rem;
    color: #787877;
}