.coverGrid{
    height: 90%;
    width: 90%;
    max-width: 71rem;
    margin-inline: auto;
}

.list{
    margin-left: auto;
    margin-right: auto;
    background-color: #333333;
}

.list *{
    color: white;
    font-family: 'Roboto' 'sans-serif'
}

.edit path{
    color: #f9b621;
}

@media (max-width:650px) {
    .experiences{
        margin-top: 4rem;
    }
}

.h1{
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    height: 10%;
    justify-content: center;
    padding-top: 1rem;
    color: #787877;
}