/* DE FELI
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: inherit;
}

.container > span:first-child {
  cursor: default;
}

.language {
  color: #f9b621;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  margin-right: 1rem;
}

.modalWindow{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide{
  display: none;
}

.background{
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  cursor: default;
}

.textExperience {
  display: flex;
  flex-direction: column;
  overflow-x: scroll; 
  padding: 5rem;
  background: #333333;
  line-height: 1.4;
  border-radius: .5rem;
  width: 55%;
  box-shadow: 2px 0px 20px 2px rgba(0, 0, 0, 0.37);
  transition: transform 0.5s linear;
} */

/* DE MAX Y LU */
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: inherit;
}

.container > span:first-child {
  cursor: default;
}

.language {
  color: #f9b621;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  margin-right: 1rem;
}

.modalWindow{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide{
  display: none;
}

.background{
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  cursor: default;
}

.textExperience {
  display: flex;
  flex-direction: column;
  overflow-x: scroll; 
  padding: 5rem;
  background: #333333;
  line-height: 1.4;
  border-radius: .5rem;
  width: 55%;
  box-shadow: 2px 0px 20px 2px rgba(0, 0, 0, 0.37);
  transition: transform 0.5s linear;
}