.containNeg{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.negative{
    color: #f9b621;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    margin-right: 1rem;
}

.negative:hover{
    color: #f9b621;
    font-weight: bold;
    position: relative;
    z-index: 1;
}