.mainContainer { 
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  /* background-image: url('../images/gray.jpg'); */
  background-image: url('../images/landing.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainButtons {
  /* background-color: rgba(0, 0, 0, 0.304); */
  background-color: rgba(0, 0, 0, 0.701);
  height: 100%;
  width: 25%;
  position: sticky;
  top: 0px;
  border-right: 3px solid black;
}

.gallery {
  overflow-y: scroll;
  width: 75%;
  padding-left: 20px;
}

.topRow {
  display: flex;
  justify-content: space-between;
}

a, a:link, a:visited, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.btnLanding, .btnReload, .btnCreate, .btnReset {
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid white;
}

.btnLanding, .btnReload {
  padding: 5px;
  margin: 5px;
  font-size: 16px;
}

.btnLanding {
  background-color: rgba(66, 66, 66, 0.94);
}

.btnLanding:hover {
  color: rgb(66, 66, 66);
  border: 1px solid rgb(66, 66, 66);
  background-color: rgba(255, 255, 255, 0.8);
}

.btnErase {
  font: inherit;
  background-color: transparent;
}

.btnReload {
  font: inherit;
  background-color: rgba(0, 0, 139, 0.804);
  border-radius: 8px;
}

.btnReload:hover {
  color: rgba(0, 0, 139);
  border: 1px solid rgba(0, 0, 139);
  background-color: rgba(255, 255, 255, 0.8);
}

.titleHome {
  color: white;
}

.btnCreate {
  padding: 15px;
  margin: 25px 25px 50px 25px;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
  background-color: rgba(0, 128, 0, 0.803);
}

.btnCreate:hover {
  color: rgb(0, 128, 0);
  border: 1px solid rgb(0, 128, 0);
  background-color: rgba(255, 255, 255, 0.8);
}

.sortContainer, .filterContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 5px auto 10px auto;
}

/* .filterContainer {
  margin-left: 20px;
  margin-right: 17px;
} */

.dropdown, .dropdownSel {
  height: 25px;
  border-radius: 8px;
  margin: auto 12px;
}

.dropdownSel {
  height: 25px;
  border-radius: 8px;
  background-color: rgb(50, 50, 50);
  color: white;
}

.btnReset {
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 8px;
  font: inherit;
  background-color: rgba(255, 0, 0, 0.801);
}

.btnReset:hover {
  color: rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
  background-color: rgba(255, 255, 255, 0.8);
}

.selected {
  display: inline-block;
  border: 1px solid white;
  margin: 2px 25px 2px 25px;
  padding: 5px;
  color: white;
  border-radius: 20px;
  font-size: 12px;
}

.btnErase {
  border: none;
  font-size: 12px;
  color: white;
}

.btnErase:hover {
  color: black;
}

.loading {
  margin: 150px auto;
  padding: 15px;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.734);
  border-radius: 20px;
  height: fit-content;
}

.gifLoading {
  border-radius: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 10px;
}

.notFound {
  margin: 150px 0px 0px 350px;
  padding: 15px;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.701);
  border-radius: 20px;
}

.strNotFound {
  color: white;
}

.imgNotFound {
  border-radius: 20px;
  width: 370px;
}