.card {
  border: 3px solid black;
  border-radius: 20px;
  margin: 20px 1px;
  height: 450px;
  width: 320px;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: space-between; */
  align-items: center;
  /* background-color: rgba(0, 128, 0, 0.466); */
  background-color: rgba(0, 96, 0, 0.908);
  transition-delay: 0.05s;
}

.card:hover {
  transform: scale(1.1);
}

.cardNameContainer {
  /* margin: 5px; */
  line-height: 45px;
  height: 55px;
  text-align: center;
  overflow-wrap: break-word;
}

.cardName {
  color: white;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-weight: bold;
}

.cardImage {
  background-color: rgba(0, 0, 0, 0.242);
  padding: 16px;
  border-radius: 20px;
  width: 290px;
  height: 250px;
  margin: 5px auto;
}

/* .cardImageContainer {
  border-radius: 20px;
  height: 50%;
  width: 100%;
} */

.ratingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratingImg {
  width: 100px;
  height: 21px;
  margin-right: 10px;
}

.rating {
  /* padding: auto; */
  color: rgb(232, 232, 16);
  width: fit-content;
  font-size: 18px;
  font-weight: bold;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 2px;
}

.genreContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.genre {
  border-radius: 10px;
  border: 1px solid rgb(84, 249, 255);
  padding: 3px;
  margin: 2px;
  color: rgb(84, 249, 255);
  height: fit-content;
}

.noneAssigned {
  color: rgb(84, 249, 255);
}