
.mercadopago-button {
    width: 16rem;
    height: 3.5rem;
}

.cho-container{
    position: relative;
    bottom: 2.2rem;
    left: 0;
}

.cho-container button{
    position: absolute;
}

@media(max-width: 1150px) {
    .cho-container {
        position: inherit;
        height: 8rem;
        margin-right: 15.5rem;
        margin-top: 1rem;
    }
}

@media (max-width: 750px) {
    .cho-container {
        position: inherit;
        height: 8rem;
        margin-right: 15.5rem;
    }
}